@import "./custom/custom-colorvariable";
@import "./custom/custom-mainstyle";
@import "./custom/custom-navbar";
@import "./custom/custom-login";
@import "./custom/custom-pagination";
@import "./custom/custom-error";
@import "./custom/custom-loader";

/********** Template CSS **********/

body {
  font-family: "Raleway", sans-serif;
  color: #868686;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yeseva One", cursive;
  margin-top: 0;
  color: #25282b;
}
h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 30px;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 400;
}
h3 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
h4 {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
h5 {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  font-weight: 400;
}
section {
  padding: 0;
}
::placeholder {
  color: #cacccf;
  opacity: 1;
  font-family: "Raleway", sans-serif;
}
:-ms-input-placeholder {
  color: #cacccf;
  font-family: "Raleway", sans-serif;
}
::-ms-input-placeholder {
  color: #cacccf;
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Raleway", sans-serif;
  color: #6a787c;
  font-style: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 26px;
  color: #333333;
  margin-bottom: 30px;
  margin-top: 0;
}
:root {
  --primary: #06bbcc;
  --light: #f0fbfc;
  --dark: #181d38;
}
.fw-medium {
  font-weight: 600 !important;
}
.fw-semi-bold {
  font-weight: 700 !important;
}
header {
  height: auto;
  background-color: #fff;
  box-shadow: 2px 4px 23px -2px rgba(202, 193, 193, 0.05);
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  box-sizing: border-box;
}
header .user-wrap {
  float: right;
  display: flex;
  align-items: center;
  gap: 25px;
}
header .user-wrap .avatar img {
  border-radius: 50%;
}
header .user-wrap .menu {
  padding-left: 15px;
}
header .user-wrap .user-details {
  text-align: right;
}
header .role {
  font-size: 16px;
  color: #6a787c;
}
header .patient-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .back-btn {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #f3f6f5;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
}
header a.back-btn:hover {
  background-color: #f3f6f5;
  border: 1px solid #749287;
}

/*** Spinner ***/
.btn {
  height: 80px;
  width: auto;
  background-color: #5b8072;
  padding: 20px;
  border-top-right-radius: 30px;
  border: 0px;
  cursor: pointer;
  z-index: 1;
}
.find-wrap {
  padding: 0;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.fluid-container {
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.search-wrap {
  margin-top: 0;
  margin-bottom: 40px;
}
.search-wrap p {
  max-width: 350px;
}
.search-module {
  display: flex;
  background: #fff;
  height: 80px;
  border-radius: 2px;
  box-shadow: 2px 4px 23px -2px rgba(202, 193, 193, 0.25);
  width: 100%;
  max-width: 650px;
}
.search-module input {
  border: 0;
  width: 100%;
  text-indent: 60px;
  font-size: 24px;
  color: #000;
  font-family: "Raleway", sans-serif;
  padding: 0 20px 0;
}
.search-module input:focus {
  border: 1px solid #749287;
  outline: 0;
  border-radius: 2px;
}
.search-icon:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 80px;
  float: left;
  background-repeat: no-repeat;
  background-position: 30px center;
}
.input-wraper {
  display: flex;
  width: 750px;
}
.search-btn {
  margin-left: 20px;
  position: relative;
}
.search-btn .btn {
  height: 80px;
  width: 80px;
  background-color: #5b8072;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 30px;
  border: 0px;
  cursor: pointer;
  z-index: 1;
}
.search-btn .btn.active {
  height: 80px;
  width: 80px;
  background-color: #5b8072;
  border-top-right-radius: 30px;
  border: 0px;
  cursor: pointer;
  z-index: 1;
}
.search-btn .btn.more {
  height: 80px;
  width: 80px;
  background-color: #5b8072;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 30px;
  border: 0px;
  cursor: pointer;
  z-index: 1;
}
.billing .btn {
  background-image: none;
  width: auto;
  color: #fff;
  font-size: 28px;
}
.billing-wrap li .btn {
  height: 80px;
  width: 80px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 30px;
  border: 1px dashed #cacccf;
  cursor: pointer;
  z-index: 1;
  box-shadow: 1.76075px 3.5215px 20.2486px -1.76075px rgba(202, 193, 193, 0.25);
}
.billing-wrap li .btn:hover {
  background-color: #f3f6f5;
}
.billing-wrap li div:last-child {
  text-align: right;
}
.billing-wrap li div:nth-child(2) {
  text-align: center;
}
.search-list {
  width: 100%;
  box-sizing: border-box;
}
.search-list ul {
  margin: 0;
  padding: 0;
}
.search-list li {
  position: relative;
  background-color: #fff;
  border: 1px solid transparent;
  border-left: 5px solid transparent;
  align-items: center;
  min-height: 55px;
  box-shadow: 2px 4px 23px -2px rgba(202, 193, 193, 0.25);
  list-style: none;
  padding: 20px 50px 20px 45px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.search-list li:hover {
  border: 1px solid #8da49b;
  box-shadow: 2px 4px 23px -2px rgba(116, 146, 135, 0.5);
  border-left: 5px solid #8da49b;
}
.search-list li div {
  padding: 0 10px;
  width: 100%;
}
.search-list li div p {
  color: #000000;
  margin-bottom: 0;
}
.no-search {
  text-align: center;
}
.no-search img {
  text-align: center;
  margin-bottom: 30px;
}
.no-search p {
  color: #979797;
}
.no-search p span {
  font-weight: 600;
  color: #000;
}
.new-patient-wrap .container {
  max-width: 750px;
}
.new-patient-wrap .row-wrap {
  display: flex;
  justify-items: left;
}
p.max-width {
  max-width: 550px;
  color: #6a787c;
  padding-bottom: 30px;
}
.row-wrap {
  margin-top: 32px;
}
.row-wrap .column {
  width: 100%;
}
.row-wrap .column input {
  width: 100%;
  background: #ffffff;
  transition-duration: 0.5s;
  box-shadow: 2px 4px 23px -2px rgba(202, 193, 193, 0.25);
  border: 1px solid transparent;
  outline: 0;
  box-sizing: border-box;
  height: 68px;
  padding: 20px;
  font-size: 20px;
  color: #25282b;
}
.row-wrap .column input:focus {
  border: 1px solid #749287;
  box-shadow: 2px 4px 23px -2px rgba(116, 146, 135, 0.5);
  transform: translateY(-2px);
}
.row-wrap .column label {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}
.row-wrap .column:nth-child(1) {
  margin-right: 20px;
}
.row-wrap .column:nth-child(2) {
  margin-left: 20px;
}
.row-wrap .column.adress:nth-child(1) {
  margin-right: 0;
}
.row-gender {
  display: flex;
  justify-items: center;
  margin-top: 40px;
  justify-content: center;
}
.row-gender .box-wrap {
  max-width: 110px;
  max-height: 84px;
  box-shadow: 2px 4px 23px -2px rgba(202, 193, 193, 0.25);
  font-size: 18px;
  text-decoration: none;
  border: 1px solid transparent;
  margin: 0 10px;
  text-align: center;
  box-sizing: border-box;
}
.row-gender .box-wrap .icon {
  min-height: 27px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.row-gender a.box-wrap {
  text-decoration: none;
  color: #6a787c;
}
.selecotr-item {
  position: relative;
  flex-basis: calc(70% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border: 1px solid transparent;
}
.selector-item_radio {
  appearance: none;
  display: none;
}
.selector-item_label {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.5s;
  transition-property: transform, color, box-shadow;
  transform: none;
}
.selector-item_radio:checked + .selector-item_label {
  background-color: #f3f6f5;
  border: 1px solid #749287;
  color: var(--white);
  padding: 15px;
  transform: translateY(-2px);
}
.left-sidebar-wraper {
  border: 1px solid #e8e8e8;
  box-shadow: 2px 4px 23px -2px rgba(202, 193, 193, 0.25);
  border-radius: 0px;
  min-width: 300px;
  width: 21%;
  box-sizing: border-box;
}
.profile-outer-wrap {
  display: flex;
  justify-items: left;
  gap: 3.5%;
}
.profile-wrap {
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0px;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}
.profile-details {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}
.profile-details .sub-name {
  color: #6a787c;
  margin-bottom: 10px;
}
.profile-details .sub-answer {
  color: #000;
  margin-bottom: 50px;
}
.profile-details .sub-answer:last-child {
  margin-bottom: 0;
}
.profile-wrap .photo img {
  width: 128px;
  height: auto;
  border-radius: 50%;
}
.inner-body {
  width: 75.5%;
}
.inner-body .search-module {
  margin-bottom: 20px;
}
.inner-body .search-list li {
  justify-content: space-between;
}
.search-list .profile .photo img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #000;
}
.new-booking li div {
  width: auto;
  padding: 0;
}
.new-booking li .profile {
  display: flex;
  justify-content: left;
  gap: 20px;
  align-items: center;
}
.new-booking li .profile .degree {
  font-size: 16px;
  margin-top: 12px;
}
.new-booking li .category {
  display: flex;
  justify-content: right;
  gap: 16px;
  align-items: center;
}
.new-booking li .category span {
  padding: 15px 20px;
  background-color: #f3f6f5;
  font-size: 14px;
  color: #000;
  border-radius: 8px;
}
.filter-category-wrap {
  overflow-x: auto;
  width: auto;
  min-height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.filter-category-wrap span {
  border: 1px solid #8da49b;
  cursor: pointer;
  min-width: fit-content;
  border-radius: 28px;
  background-color: #fff;
  padding: 15px 30px;
  font-size: 14px;
  box-shadow: 1.75665px 3.51331px 20.2015px -1.75665px rgba(202, 193, 193, 0.25);
}
.filter-category-wrap span.active {
  background-color: #5b8072;
  position: relative;
  color: #fff;
  padding: 15px 45px 15px 30px;
  background-repeat: no-repeat;
  background-position: 88% center;
}
/*.filter-category-wrap span.active:after {position: absolute; content: ''; background-image:url(../img/close-w-icon.svg) ; background-repeat: no-repeat; height: 40px;  width: 40px; right: 10px; top: 10px; }*/
.filter-category-wrap::-webkit-scrollbar {
  height: 5px;
  border-radius: 20px;
}
.filter-category-wrap::-webkit-scrollbar-track {
  background-color: #f3f6f5;
}
.filter-category-wrap::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #f3f6f5;
  border-radius: 5px;
}
.edit-btn {
  float: right;
  margin-top: -20px;
}
footer {
  height: 30px;
  width: 100%;
}
.logo img {
  max-width: 100%;
}
.search-list.billing-wrap li:hover {
  border: 1px solid transparent;
  box-shadow: 2px 4px 23px -2px rgb(116 146 135 / 50%);
  border-left: 5px solid transparent;
}
.close-btn {
  background-color: #fff;
  border: 1px dashed #cacccf;
  width: 33px;
  height: 33px;
  border-radius: 13px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1;
  box-shadow: 2px 4px 23px -2px rgba(202, 193, 193, 0.25);
}
.close-btn:hover {
  border: 1px solid #547669;
}
.search-list.billing-wrap .profile .photo img {
  width: auto;
  height: auto;
  border-radius: inherit;
  border: 0;
}
.new-booking.billing-wrap li .category span {
  padding: 0;
  background: transparent;
}
.input-wraper.payment-wraper {
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
}
.input-wraper.payment-wraper p.max-width {
  margin-bottom: 0;
  padding-bottom: 0;
}
.input-wraper.payment-wraper .btn {
  background-color: #f3f6f5;
  color: #547669;
}
@media (max-width: 1000px) {
  .input-wraper {
    display: flex;
    width: 100%;
  }
  .search-list li {
    padding: 20px 20px 20px 25px;
  }
  h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  h3 {
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: "Raleway", sans-serif;
    margin-top: 0;
    font-weight: 400;
  }
  p {
    font-family: "Raleway", sans-serif;
    color: #6a787c;
    font-style: normal;
    font-size: 18px;
    font-style: normal;
    line-height: 26px;
    color: #333333;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .logo img {
    max-width: 90%;
  }
  header .role {
    font-size: 14px;
  }
  .row-wrap .column label {
    font-size: 16px;
  }
  .row-wrap .column input {
    height: 55px;
    padding: 15px;
    font-size: 16px;
  }
  .search-list li {
    display: inherit;
  }
  .new-booking li .category {
    gap: 10px;
  }
  .new-booking li .category span {
    padding: 12px 15px;
  }
  .profile-details {
    padding: 20px;
  }
  .profile-wrap {
    padding: 40px;
  }
  .new-booking li .profile .degree {
    margin-top: 5px;
  }
  .search-list .profile .photo img {
    width: 50px;
  }
  .profile-wrap .photo img {
    width: 108px;
  }
  body {
    font-size: 16px;
  }
  .inner-body {
    width: 70%;
  }
  .left-sidebar-wraper {
    min-width: inherit;
    width: 25%;
    display: block;
  }
  .search-list.billing-wrap {
    margin-top: 10px;
  }
  .search-list.billing-wrap li {
    display: flex;
  }
  .billing-wrap li .btn {
    height: 60px;
    width: 70px;
  }
}

@media (max-width: 768px) {
  p {
    font-family: "Raleway", sans-serif;
    color: #6a787c;
    font-style: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .find-wrap {
    padding: 50px 30px 0;
  }
  h5 {
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  h3 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
  }
  header .user-wrap {
    gap: 5px;
  }
  header .user-wrap .menu {
    padding-left: 5px;
  }
  .logo img {
    max-width: 80%;
  }
  .profile-details {
    padding: 30px;
  }
  .profile-wrap {
    padding: 30px;
  }
  .left-sidebar-wraper {
    display: none;
  }
  .inner-body {
    width: 100%;
  }
  .new-booking li .category {
    display: inline-block;
  }
  .new-booking li .category span {
    float: right;
    margin: 5px;
  }
}

@media (max-width: 480px) {
}
