$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$white: #ffffff !default;

$c-border: #c7c7c7 !default;

$body-primary-color: #6a6c6f;
$text-primary: #6a6c6f;

// Botton color:
$btn-primary: #6566b2 !default;
$btn-secondary: #ffffff !default;

$btn-border: #eaeaea !default;
$btn-white: #ffffff !default;

// Botton end

// Valiable color start

$login-plchdr: #bfbfbf;
$login-bg: #ff525580;
$login-label: #666b4b;
$login-border: #bfbfbf;
$login-btn: #aeca0c;
$login-head: #06bbcc;

$labelclr: #bfbfbf;
$graybg: #f7f7f7;
$atagclr: #fa1b0b !default;

// Valiable color end

$crl-2: #06bbcc !default; //#6566b2 !default;
$light-b-color: #f7f9fa !default;
$checkbox-p: #ff5255b5 !default;
$crl-3: #8f1315fe !default;
$btn-primary-light: #3739d0 !default;
